:root {
    --project-width: 500px;
    --project-height: calc(var(--project-width) * 9/13);
    --project-spacing: 5px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    width: 100vw;

}

h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.site-header {
    background-color: #81D2BB;
    color: #fff; 
    width: 100%;
    height: 70px;
    line-height: 70px;
    display: flex;
}

.site-header a {
    color: #fff;
    text-decoration: none;

}

.site-header > div {
    width: 33%;
    height: 100%;

}

.site-header > div:nth-child(odd) {
    padding-left: 24px;
    padding-right: 24px;
    font-size: 1.5rem;

}

.site-header > div:nth-child(odd) a {
   margin: 10px;
    
}

.site-header > div:nth-child(2) {
    width: 34%;
    text-align: center;
    font-size: 2rem;
}

.site-header > div:nth-child(3) {
    text-align: right;
}

.site-header > div:nth-child(2) > a:nth-child(2) {
    display: none;
}  

.site-header > div:nth-child(1) > nav > a:nth-child(2) {
    display: inline;
}   

.site-header > div:nth-child(3) > nav > a:nth-child(1) {
    display: none;
}  


.welcome {
    color: #fff;
    width: 100%;
    height: 95vh;
    background-image: url(images/monstera.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box;
}

.welcome:after {
    background-color: #81D2BB;
    display: block;
    opacity: 0.87;
    content: '';
    left: 0;
    position: absolute;
    top: 70px;
    width: 100%;
    height: 95vh;
}

.container {
    max-width: 800px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
}

.contents {
    z-index: 1;
}

.contents > h1 {
    font-size: 5rem;
    margin-bottom: 40px;
}

.contents > p {
    font-size: 3.875rem;
    margin: 0;
}

.project {
    position: relative;
}

.project > .cover {
    width: var(--project-width);
    height: var(--project-height);
}

.project > .details {
    width: var(--project-width);
    height: var(--project-height);
    background-color: rgba(247, 90, 86, 0.8);
    transition-duration: .25s;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.project > .details:hover {
    opacity: 1;
}

.details {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.details > h3 {
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.details > p {
    margin-left: 100px;
    margin-right: 100px;
    line-height: 1.65rem;
}

.cover > img {
    width: 100%;
    height: 100%;
}

.projects {
    display: grid;
    grid: repeat(2, calc(var(--project-height) + var(--project-spacing))) /
     auto-flow calc(var(--project-width) + var(--project-spacing));
    justify-content: center;
    margin-top: 48px;
}

footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

footer > a {
   color: rgb(247, 90, 86);
   text-decoration: none;
   font-weight: 700;
   font-size: 1.5rem;
}

article {
    max-width: 45%;
    margin: auto;
}

article > h1 {
    font-size: 3rem;
    margin-bottom: 20px; 
    text-align: center;  
}

article > h3 {
    margin-bottom: 120px;
    text-align: center;
    font-size: 1.5rem;
}

article p {
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

article > section {
    margin-bottom: 48px;
}

article > section > h2 {
    font-size: 1.75rem;
    color: rgb(247, 90, 86);
    font-weight: 700;
}

article > section h4 {
    margin-bottom: 0px;
    font-size: 1.17rem;
}

article > section ul {
    padding-inline-start: 0px;
    margin-top: 8px;
}

article > section li {
    list-style-type: none; 
    margin-bottom: 8px;   
}

.aboutcontent {
    display: flex;
}

.abouttext {
    margin-left: 80px;
    padding: 16px;
}

.aboutpic {
    max-width: 300px;
    max-height: 388px;
}

.imagegrid {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-top: 32px;
}

.imagegridoverflow {
    flex-wrap: nowrap;
}

.aboutimagegrid {
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 8px;
}

.aboutimagegrid img {
    width: 300px;
}

.projecthero {
    display: flex;
}

.herotext {
    padding-right: 80px;
    font-size: 3rem;
    line-height: 3.75rem;
}

.center {
    text-align: center;
}
@media only screen and (max-width:1400px) {
    article {
        max-width: 80%;
    }
    .aboutcontent {
        display: block;
    }
    .abouttext {
        margin: auto;
        padding: 0;
    }

}

@media only screen and (max-width:1023px) {
    :root {
        --project-width: 400px;
    }    
    
}

@media only screen and (max-width:926px) {
    .site-header > div:nth-child(2) {
        line-height: 1.85rem;
        padding-top: 4px;
    } 
    .contents > h1 {
        font-size: 4.5rem;
        margin-bottom: 24px;
    }
    
    .contents > p {
        font-size: 3.25rem;
        margin: 0;
    }

    .container {
        max-width: 600px;
    }

}

@media only screen and (max-width:810px) {
    :root {
        --project-width: 300px;
    } 
   
}

@media only screen and (max-width:620px) {
    .site-header > div:nth-child(2) {
        line-height: 70px;
        padding-top: 0px;
    }   
    
    .site-header > div:nth-child(2) > a:nth-child(1) {
        display: none;
    }   

    .site-header > div:nth-child(2) > a:nth-child(2) {
        display: inline;
    }  

    .site-header > div:nth-child(1) > nav > a:nth-child(2) {
        display: none;
    }   

    .site-header > div:nth-child(3) > nav > a:nth-child(1) {
        display: inline;
    }  

    .contents > h1 {
        font-size: 3.5rem;
        margin-bottom: 24px;
    }
    
    .contents > p {
        font-size: 2.25rem;
        margin: 0;
    }

    .container {
        max-width: 320px;
    }
    
    :root {
        --project-width: 350px;
    }  

    .projects {
        grid: repeat(4, calc(var(--project-height) + var(--project-spacing))) /
         auto-flow calc(var(--project-width) + var(--project-spacing));
        
    }
    
}
